.trackWrapper {
    display: grid;
    column-gap: 16px;
    grid-template-columns: auto 1fr auto;
    height: 56px;
    align-items: center;
    position: relative;

    @apply px-4 rounded hover:bg-light300 z-10;
}

.rank {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    position: relative;
    @apply text-light200 text-base justify-self-start w-4 h-4;
}

.one-line {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: unset;
    word-break: break-all;
    text-overflow: overflow;
    overflow: hidden;
}

.boldText {
    @extend .one-line;
    @apply font-normal text-base;
}

.subtitle {
    @extend .one-line;
    @apply font-normal text-sm text-light200;
}

.header {
    display: grid;
    column-gap: 16px;
    grid-template-columns: auto 1fr auto;
    height: 36px;
    align-items: center;

    @apply px-4 text-light200 border-b border-light300 mb-4;
}

.playingWrapper {
    width: 100%;
    height: 16px;
    display: grid;
    column-gap: 1px;
    align-items: flex-end;
    @apply grid-cols-4;
}

.playingBar {
    width: 3px;
    height: 100%;
    animation: playingbar 600ms infinite alternate-reverse ease-out;
    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
            animation-delay: -400ms * ($i - 1);
        }
    }

    @apply bg-primary;
}
@keyframes playingbar {
    from {
        height: 3px;
    }
    to {
        height: 16px;
    }
}

.playTriangle {
    // background-color: red;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid white;
}
